:root {
  --theme: #EC407A;
  --dark: #e2175b;
  --light: #f16e9a;
  --focus: rgba(236, 64, 122, 0.3);
  --opacity: rgba(236, 64, 122, 0.1);
  --preloader: rgba(236, 64, 122, 0.9);
  --text: #23263A;
  --dark-text: #1f2234;
  --light-text: #434555;
  --focus-text: rgba(35, 38, 58, 0.3);
  --opacity-text: rgba(35, 38, 58, 0.1);
  --font: Poppins,
  sans-serif;
  --rad: 8px;
  --grey: rgba(0, 0, 0, 0.7);
  --placeholder: rgba(0, 0, 0, 0.4);
  --border: rgba(0, 0, 0, 0.07);
  --padding: 3.5rem;
  --shadow-s: 0px 4px 20px rgba(0, 0, 0, 0.08);
  --shadow-m: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  --shadow-l: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.15);
  --shadow-btn: 0 0.1rem 2rem rgba(0, 0, 0, 0.2);
  --container: 110rem;
  --second: #000;
  --logo: 4rem;
  --header: 8rem;
  --fz: 1.4rem;
  --section-p: calc((100vw - var(--container)) / 2);
  --bg: #23263A;
  --bg-op: rgba(255, 255, 255, 0.7);
  --grey-bg: rgba(0, 0, 0, 0.05);
  --btn-fz: 1.5rem;
  --field: 4rem;
  --label-size: 1rem;
}

.white {
  --text: #fff;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-size: var(--fz);
  font-weight: 400;
  font-family: var(--font);
  color: var(--text);
  line-height: 1.4;
  margin: 0 !important;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--text);
  background: var(--bg);
  -webkit-tap-highlight-color: transparent;
}

body .second {
  font-family: var(--second);
}

body .slick-list {
  overflow: hidden;
}

body .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .p {
  padding: var(--padding) 0;
}

body .pt {
  padding-top: var(--padding);
}

body .pb {
  padding-bottom: var(--padding);
}

body .dn {
  display: none !important;
}

body .mt2 {
  margin-top: 2rem;
}

body .mt3 {
  margin-top: 3rem;
}

body .db {
  display: block;
}

body .full {
  width: 100%;
}

body .sm-text {
  font-size: 1.25rem;
}

body .lg-text {
  font-size: 1.7rem;
}

body .grey-text {
  color: var(--grey);
}

body .grey-bg {
  background: var(--grey-bg);
}

body a,
body button,
body input,
body textarea,
body .slick-slide,
body .item {
  outline: none !important;
}

body ul,
body ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

body p {
  margin-bottom: 0.6em;
}

body p.mb0,
body ul.mb0,
body ol.mb0 {
  margin-bottom: 0;
}

body button,
body input,
body textarea {
  font-family: var(--font);
}

body a,
body a:visited {
  color: var(--theme);
  text-decoration: none;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

body a:hover,
body a:active,
body a:focus,
body a:visited:hover,
body a:visited:active,
body a:visited:focus {
  color: var(--dark);
}

body a.text,
body a:visited.text {
  color: var(--text);
}

body a.text:hover,
body a:visited.text:hover {
  color: var(--dark);
}

body h1 {
  font-size: 3.8rem;
}

body h1.small {
  font-size: 3rem;
}

body h2 {
  font-size: 3.8rem;
}

body h3 {
  font-size: 3.5rem;
}

body h4 {
  font-size: 2.8rem;
}

body h5 {
  font-size: 2.5rem;
}

body h6 {
  font-size: 2rem;
}

body h1,
body h2,
body h4 {
  line-height: 1.3;
  font-weight: 500;
}

body h3 {
  line-height: 1.3;
  font-weight: 600;
}

body h5,
body h6 {
  line-height: 1.4;
  font-weight: 400;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 0.4em;
}

body ul,
body ol,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  margin-top: 0;
}

body ul:last-child,
body ol:last-child,
body h1:last-child,
body h2:last-child,
body h3:last-child,
body h4:last-child,
body h5:last-child,
body h6:last-child,
body p:last-child {
  margin-bottom: 0;
}

body .article > *:not(:last-child):not(.subtitle):not(.mb0) {
  margin-bottom: 2rem;
}

body .article > *:not(:last-child):not(.subtitle):not(.mb0).bm {
  margin-bottom: 3rem;
}

body .article > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 2rem;
}

body .article > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn).bm {
  padding-bottom: 3rem;
}

body .article.half {
  width: var(--article-half);
}

body .article.center {
  width: var(--article-half);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .article-sm > *:not(:last-child):not(.subtitle):not(.mb0) {
  margin-bottom: 1rem;
}

body .article-sm > *:not(:last-child):not(.subtitle):not(.mb0).bm {
  margin-bottom: 2rem;
}

body .article-sm > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
}

body .article-sm > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn).bm {
  padding-bottom: 2rem;
}

body .article-sm.half {
  width: var(--article-half);
}

body .article-sm.center {
  width: var(--article-half);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .article-md > *:not(:last-child):not(.subtitle):not(.mb0) {
  margin-bottom: 3rem;
}

body .article-md > *:not(:last-child):not(.subtitle):not(.mb0).bm {
  margin-bottom: 4rem;
}

body .article-md > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
}

body .article-md > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn).bm {
  padding-bottom: 4rem;
}

body .article-md.half {
  width: var(--article-half);
}

body .article-md.center {
  width: var(--article-half);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .article-bg > *:not(:last-child):not(.subtitle):not(.mb0) {
  margin-bottom: 4rem;
}

body .article-bg > *:not(:last-child):not(.subtitle):not(.mb0).bm {
  margin-bottom: 5rem;
}

body .article-bg > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 4rem;
}

body .article-bg > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn).bm {
  padding-bottom: 5rem;
}

body .article-bg.half {
  width: var(--article-half);
}

body .article-bg.center {
  width: var(--article-half);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .article-lg > *:not(:last-child):not(.subtitle):not(.mb0) {
  margin-bottom: 6rem;
}

body .article-lg > *:not(:last-child):not(.subtitle):not(.mb0).bm {
  margin-bottom: 7rem;
}

body .article-lg > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 6rem;
}

body .article-lg > *:not(:last-child):not(.subtitle):not(.mb0).bordered:not(.btn).bm {
  padding-bottom: 7rem;
}

body .article-lg.half {
  width: var(--article-half);
}

body .article-lg.center {
  width: var(--article-half);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body .subtitle {
  font-size: var(--subtitle-size);
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

body .subtitle.theme {
  color: var(--theme);
}

body .btn,
body a.btn,
body a:visited.btn {
  color: var(--bg);
  background: var(--theme);
  border: 1px solid #000;
  padding: 0 2.5em;
  height: var(--field);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: var(--btn-fz);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 20;
  font-weight: 700;
  border-radius: 0;
}

body .btn:hover,
body a.btn:hover,
body a:visited.btn:hover {
  background: var(--dark);
}

body .btn:active,
body a.btn:active,
body a:visited.btn:active {
  background: var(--dark);
  -webkit-box-shadow: 0 0 0 4px var(--focus);
          box-shadow: 0 0 0 4px var(--focus);
}

body .btn.focus,
body a.btn.focus,
body a:visited.btn.focus {
  background: var(--dark);
  -webkit-box-shadow: 0 0 0 4px var(--focus);
          box-shadow: 0 0 0 4px var(--focus);
}

body .btn.focus:hover,
body a.btn.focus:hover,
body a:visited.btn.focus:hover {
  background: var(--theme);
  -webkit-box-shadow: 0 0 0 8px var(--focus);
          box-shadow: 0 0 0 8px var(--focus);
}

body .btn.focus:active,
body a.btn.focus:active,
body a:visited.btn.focus:active {
  background: var(--light);
  -webkit-box-shadow: 0 0 0 4px var(--focus);
          box-shadow: 0 0 0 4px var(--focus);
}

body .btn.full,
body a.btn.full,
body a:visited.btn.full {
  width: 100%;
  padding: 0;
}

body .btn:disabled,
body a.btn:disabled,
body a:visited.btn:disabled {
  background: var(--border) !important;
  color: var(--grey) !important;
  cursor: default !important;
}

body label:not(.custom):not(.avatar),
body .label:not(.avatar) {
  display: block;
  font-size: var(--label-size);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--grey);
}

body label:not(.custom):not(.avatar):not(:last-child),
body .label:not(.avatar):not(:last-child) {
  margin-bottom: 0.5em;
}

body label:not(.custom):not(.avatar)[for],
body .label:not(.avatar)[for] {
  cursor: pointer;
}

body input[type=text]:not(.hidden):not(.code),
body input[type=name]:not(.hidden):not(.code),
body input[type=email]:not(.hidden):not(.code),
body input[type=url]:not(.hidden):not(.code),
body input[type=password]:not(.hidden):not(.code),
body input[type=search]:not(.hidden):not(.code),
body input[type=number]:not(.hidden):not(.code),
body input[type=tel]:not(.hidden):not(.code),
body input[type=range]:not(.hidden):not(.code),
body input[type=date]:not(.hidden):not(.code),
body input[type=month]:not(.hidden):not(.code),
body input[type=week]:not(.hidden):not(.code),
body input[type=time]:not(.hidden):not(.code),
body input[type=datetime]:not(.hidden):not(.code),
body input[type=datetime-local]:not(.hidden):not(.code),
body input[type=color]:not(.hidden):not(.code),
body textarea:not(.hidden):not(.code) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: var(--field);
  padding: 0 1em;
  border-radius: var(--rad);
  background: var(--bg);
  border: 1px solid #B9B9B9;
  color: var(--text);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: var(--fz);
}

body input[type=text]:not(.hidden):not(.code).disguise,
body input[type=name]:not(.hidden):not(.code).disguise,
body input[type=email]:not(.hidden):not(.code).disguise,
body input[type=url]:not(.hidden):not(.code).disguise,
body input[type=password]:not(.hidden):not(.code).disguise,
body input[type=search]:not(.hidden):not(.code).disguise,
body input[type=number]:not(.hidden):not(.code).disguise,
body input[type=tel]:not(.hidden):not(.code).disguise,
body input[type=range]:not(.hidden):not(.code).disguise,
body input[type=date]:not(.hidden):not(.code).disguise,
body input[type=month]:not(.hidden):not(.code).disguise,
body input[type=week]:not(.hidden):not(.code).disguise,
body input[type=time]:not(.hidden):not(.code).disguise,
body input[type=datetime]:not(.hidden):not(.code).disguise,
body input[type=datetime-local]:not(.hidden):not(.code).disguise,
body input[type=color]:not(.hidden):not(.code).disguise,
body textarea:not(.hidden):not(.code).disguise {
  height: 2.5rem;
  font-size: 2.5rem;
  padding: 0;
  font-weight: 600;
  border-color: transparent;
}

body input[type=text]:not(.hidden):not(.code).disguise:focus,
body input[type=name]:not(.hidden):not(.code).disguise:focus,
body input[type=email]:not(.hidden):not(.code).disguise:focus,
body input[type=url]:not(.hidden):not(.code).disguise:focus,
body input[type=password]:not(.hidden):not(.code).disguise:focus,
body input[type=search]:not(.hidden):not(.code).disguise:focus,
body input[type=number]:not(.hidden):not(.code).disguise:focus,
body input[type=tel]:not(.hidden):not(.code).disguise:focus,
body input[type=range]:not(.hidden):not(.code).disguise:focus,
body input[type=date]:not(.hidden):not(.code).disguise:focus,
body input[type=month]:not(.hidden):not(.code).disguise:focus,
body input[type=week]:not(.hidden):not(.code).disguise:focus,
body input[type=time]:not(.hidden):not(.code).disguise:focus,
body input[type=datetime]:not(.hidden):not(.code).disguise:focus,
body input[type=datetime-local]:not(.hidden):not(.code).disguise:focus,
body input[type=color]:not(.hidden):not(.code).disguise:focus,
body textarea:not(.hidden):not(.code).disguise:focus {
  height: 5rem;
  padding: 0 1.2rem;
}

body input[type=text]:not(.hidden):not(.code):focus,
body input[type=name]:not(.hidden):not(.code):focus,
body input[type=email]:not(.hidden):not(.code):focus,
body input[type=url]:not(.hidden):not(.code):focus,
body input[type=password]:not(.hidden):not(.code):focus,
body input[type=search]:not(.hidden):not(.code):focus,
body input[type=number]:not(.hidden):not(.code):focus,
body input[type=tel]:not(.hidden):not(.code):focus,
body input[type=range]:not(.hidden):not(.code):focus,
body input[type=date]:not(.hidden):not(.code):focus,
body input[type=month]:not(.hidden):not(.code):focus,
body input[type=week]:not(.hidden):not(.code):focus,
body input[type=time]:not(.hidden):not(.code):focus,
body input[type=datetime]:not(.hidden):not(.code):focus,
body input[type=datetime-local]:not(.hidden):not(.code):focus,
body input[type=color]:not(.hidden):not(.code):focus,
body textarea:not(.hidden):not(.code):focus {
  color: var(--text);
  border-color: var(--focus);
}

body input[type=text]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=name]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=email]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=url]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=password]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=search]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=number]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=tel]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=range]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=date]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=month]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=week]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=time]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=datetime]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=datetime-local]:not(.hidden):not(.code)::-webkit-input-placeholder, body input[type=color]:not(.hidden):not(.code)::-webkit-input-placeholder, body textarea:not(.hidden):not(.code)::-webkit-input-placeholder {
  color: var(--placeholder);
}

body input[type=text]:not(.hidden):not(.code)::-moz-placeholder, body input[type=name]:not(.hidden):not(.code)::-moz-placeholder, body input[type=email]:not(.hidden):not(.code)::-moz-placeholder, body input[type=url]:not(.hidden):not(.code)::-moz-placeholder, body input[type=password]:not(.hidden):not(.code)::-moz-placeholder, body input[type=search]:not(.hidden):not(.code)::-moz-placeholder, body input[type=number]:not(.hidden):not(.code)::-moz-placeholder, body input[type=tel]:not(.hidden):not(.code)::-moz-placeholder, body input[type=range]:not(.hidden):not(.code)::-moz-placeholder, body input[type=date]:not(.hidden):not(.code)::-moz-placeholder, body input[type=month]:not(.hidden):not(.code)::-moz-placeholder, body input[type=week]:not(.hidden):not(.code)::-moz-placeholder, body input[type=time]:not(.hidden):not(.code)::-moz-placeholder, body input[type=datetime]:not(.hidden):not(.code)::-moz-placeholder, body input[type=datetime-local]:not(.hidden):not(.code)::-moz-placeholder, body input[type=color]:not(.hidden):not(.code)::-moz-placeholder, body textarea:not(.hidden):not(.code)::-moz-placeholder {
  color: var(--placeholder);
}

body input[type=text]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=name]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=email]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=url]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=password]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=search]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=number]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=tel]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=range]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=date]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=month]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=week]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=time]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=datetime]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=datetime-local]:not(.hidden):not(.code):-ms-input-placeholder, body input[type=color]:not(.hidden):not(.code):-ms-input-placeholder, body textarea:not(.hidden):not(.code):-ms-input-placeholder {
  color: var(--placeholder);
}

body input[type=text]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=name]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=email]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=url]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=password]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=search]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=number]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=tel]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=range]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=date]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=month]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=week]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=time]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=datetime]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=datetime-local]:not(.hidden):not(.code)::-ms-input-placeholder, body input[type=color]:not(.hidden):not(.code)::-ms-input-placeholder, body textarea:not(.hidden):not(.code)::-ms-input-placeholder {
  color: var(--placeholder);
}

body input[type=text]:not(.hidden):not(.code)::placeholder,
body input[type=name]:not(.hidden):not(.code)::placeholder,
body input[type=email]:not(.hidden):not(.code)::placeholder,
body input[type=url]:not(.hidden):not(.code)::placeholder,
body input[type=password]:not(.hidden):not(.code)::placeholder,
body input[type=search]:not(.hidden):not(.code)::placeholder,
body input[type=number]:not(.hidden):not(.code)::placeholder,
body input[type=tel]:not(.hidden):not(.code)::placeholder,
body input[type=range]:not(.hidden):not(.code)::placeholder,
body input[type=date]:not(.hidden):not(.code)::placeholder,
body input[type=month]:not(.hidden):not(.code)::placeholder,
body input[type=week]:not(.hidden):not(.code)::placeholder,
body input[type=time]:not(.hidden):not(.code)::placeholder,
body input[type=datetime]:not(.hidden):not(.code)::placeholder,
body input[type=datetime-local]:not(.hidden):not(.code)::placeholder,
body input[type=color]:not(.hidden):not(.code)::placeholder,
body textarea:not(.hidden):not(.code)::placeholder {
  color: var(--placeholder);
}

body input[type=text].hidden,
body input[type=name].hidden,
body input[type=email].hidden,
body input[type=url].hidden,
body input[type=password].hidden,
body input[type=search].hidden,
body input[type=number].hidden,
body input[type=tel].hidden,
body input[type=range].hidden,
body input[type=date].hidden,
body input[type=month].hidden,
body input[type=week].hidden,
body input[type=time].hidden,
body input[type=datetime].hidden,
body input[type=datetime-local].hidden,
body input[type=color].hidden,
body textarea.hidden {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  border: none;
  background: none;
  display: block;
  color: var(--text);
  font-size: inherit;
}

body input[type=text].hidden.upper,
body input[type=name].hidden.upper,
body input[type=email].hidden.upper,
body input[type=url].hidden.upper,
body input[type=password].hidden.upper,
body input[type=search].hidden.upper,
body input[type=number].hidden.upper,
body input[type=tel].hidden.upper,
body input[type=range].hidden.upper,
body input[type=date].hidden.upper,
body input[type=month].hidden.upper,
body input[type=week].hidden.upper,
body input[type=time].hidden.upper,
body input[type=datetime].hidden.upper,
body input[type=datetime-local].hidden.upper,
body input[type=color].hidden.upper,
body textarea.hidden.upper {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
}

body input[type=text].hidden.upper::-webkit-input-placeholder, body input[type=name].hidden.upper::-webkit-input-placeholder, body input[type=email].hidden.upper::-webkit-input-placeholder, body input[type=url].hidden.upper::-webkit-input-placeholder, body input[type=password].hidden.upper::-webkit-input-placeholder, body input[type=search].hidden.upper::-webkit-input-placeholder, body input[type=number].hidden.upper::-webkit-input-placeholder, body input[type=tel].hidden.upper::-webkit-input-placeholder, body input[type=range].hidden.upper::-webkit-input-placeholder, body input[type=date].hidden.upper::-webkit-input-placeholder, body input[type=month].hidden.upper::-webkit-input-placeholder, body input[type=week].hidden.upper::-webkit-input-placeholder, body input[type=time].hidden.upper::-webkit-input-placeholder, body input[type=datetime].hidden.upper::-webkit-input-placeholder, body input[type=datetime-local].hidden.upper::-webkit-input-placeholder, body input[type=color].hidden.upper::-webkit-input-placeholder, body textarea.hidden.upper::-webkit-input-placeholder {
  color: var(--placeholder);
}

body input[type=text].hidden.upper::-moz-placeholder, body input[type=name].hidden.upper::-moz-placeholder, body input[type=email].hidden.upper::-moz-placeholder, body input[type=url].hidden.upper::-moz-placeholder, body input[type=password].hidden.upper::-moz-placeholder, body input[type=search].hidden.upper::-moz-placeholder, body input[type=number].hidden.upper::-moz-placeholder, body input[type=tel].hidden.upper::-moz-placeholder, body input[type=range].hidden.upper::-moz-placeholder, body input[type=date].hidden.upper::-moz-placeholder, body input[type=month].hidden.upper::-moz-placeholder, body input[type=week].hidden.upper::-moz-placeholder, body input[type=time].hidden.upper::-moz-placeholder, body input[type=datetime].hidden.upper::-moz-placeholder, body input[type=datetime-local].hidden.upper::-moz-placeholder, body input[type=color].hidden.upper::-moz-placeholder, body textarea.hidden.upper::-moz-placeholder {
  color: var(--placeholder);
}

body input[type=text].hidden.upper:-ms-input-placeholder, body input[type=name].hidden.upper:-ms-input-placeholder, body input[type=email].hidden.upper:-ms-input-placeholder, body input[type=url].hidden.upper:-ms-input-placeholder, body input[type=password].hidden.upper:-ms-input-placeholder, body input[type=search].hidden.upper:-ms-input-placeholder, body input[type=number].hidden.upper:-ms-input-placeholder, body input[type=tel].hidden.upper:-ms-input-placeholder, body input[type=range].hidden.upper:-ms-input-placeholder, body input[type=date].hidden.upper:-ms-input-placeholder, body input[type=month].hidden.upper:-ms-input-placeholder, body input[type=week].hidden.upper:-ms-input-placeholder, body input[type=time].hidden.upper:-ms-input-placeholder, body input[type=datetime].hidden.upper:-ms-input-placeholder, body input[type=datetime-local].hidden.upper:-ms-input-placeholder, body input[type=color].hidden.upper:-ms-input-placeholder, body textarea.hidden.upper:-ms-input-placeholder {
  color: var(--placeholder);
}

body input[type=text].hidden.upper::-ms-input-placeholder, body input[type=name].hidden.upper::-ms-input-placeholder, body input[type=email].hidden.upper::-ms-input-placeholder, body input[type=url].hidden.upper::-ms-input-placeholder, body input[type=password].hidden.upper::-ms-input-placeholder, body input[type=search].hidden.upper::-ms-input-placeholder, body input[type=number].hidden.upper::-ms-input-placeholder, body input[type=tel].hidden.upper::-ms-input-placeholder, body input[type=range].hidden.upper::-ms-input-placeholder, body input[type=date].hidden.upper::-ms-input-placeholder, body input[type=month].hidden.upper::-ms-input-placeholder, body input[type=week].hidden.upper::-ms-input-placeholder, body input[type=time].hidden.upper::-ms-input-placeholder, body input[type=datetime].hidden.upper::-ms-input-placeholder, body input[type=datetime-local].hidden.upper::-ms-input-placeholder, body input[type=color].hidden.upper::-ms-input-placeholder, body textarea.hidden.upper::-ms-input-placeholder {
  color: var(--placeholder);
}

body input[type=text].hidden.upper::placeholder,
body input[type=name].hidden.upper::placeholder,
body input[type=email].hidden.upper::placeholder,
body input[type=url].hidden.upper::placeholder,
body input[type=password].hidden.upper::placeholder,
body input[type=search].hidden.upper::placeholder,
body input[type=number].hidden.upper::placeholder,
body input[type=tel].hidden.upper::placeholder,
body input[type=range].hidden.upper::placeholder,
body input[type=date].hidden.upper::placeholder,
body input[type=month].hidden.upper::placeholder,
body input[type=week].hidden.upper::placeholder,
body input[type=time].hidden.upper::placeholder,
body input[type=datetime].hidden.upper::placeholder,
body input[type=datetime-local].hidden.upper::placeholder,
body input[type=color].hidden.upper::placeholder,
body textarea.hidden.upper::placeholder {
  color: var(--placeholder);
}

body input[type=text][type=password],
body input[type=name][type=password],
body input[type=email][type=password],
body input[type=url][type=password],
body input[type=password][type=password],
body input[type=search][type=password],
body input[type=number][type=password],
body input[type=tel][type=password],
body input[type=range][type=password],
body input[type=date][type=password],
body input[type=month][type=password],
body input[type=week][type=password],
body input[type=time][type=password],
body input[type=datetime][type=password],
body input[type=datetime-local][type=password],
body input[type=color][type=password],
body textarea[type=password] {
  font-family: sans-serif;
}

body input[type=text][type=password]::-webkit-input-placeholder, body input[type=name][type=password]::-webkit-input-placeholder, body input[type=email][type=password]::-webkit-input-placeholder, body input[type=url][type=password]::-webkit-input-placeholder, body input[type=password][type=password]::-webkit-input-placeholder, body input[type=search][type=password]::-webkit-input-placeholder, body input[type=number][type=password]::-webkit-input-placeholder, body input[type=tel][type=password]::-webkit-input-placeholder, body input[type=range][type=password]::-webkit-input-placeholder, body input[type=date][type=password]::-webkit-input-placeholder, body input[type=month][type=password]::-webkit-input-placeholder, body input[type=week][type=password]::-webkit-input-placeholder, body input[type=time][type=password]::-webkit-input-placeholder, body input[type=datetime][type=password]::-webkit-input-placeholder, body input[type=datetime-local][type=password]::-webkit-input-placeholder, body input[type=color][type=password]::-webkit-input-placeholder, body textarea[type=password]::-webkit-input-placeholder {
  font-family: var(--font);
}

body input[type=text][type=password]::-moz-placeholder, body input[type=name][type=password]::-moz-placeholder, body input[type=email][type=password]::-moz-placeholder, body input[type=url][type=password]::-moz-placeholder, body input[type=password][type=password]::-moz-placeholder, body input[type=search][type=password]::-moz-placeholder, body input[type=number][type=password]::-moz-placeholder, body input[type=tel][type=password]::-moz-placeholder, body input[type=range][type=password]::-moz-placeholder, body input[type=date][type=password]::-moz-placeholder, body input[type=month][type=password]::-moz-placeholder, body input[type=week][type=password]::-moz-placeholder, body input[type=time][type=password]::-moz-placeholder, body input[type=datetime][type=password]::-moz-placeholder, body input[type=datetime-local][type=password]::-moz-placeholder, body input[type=color][type=password]::-moz-placeholder, body textarea[type=password]::-moz-placeholder {
  font-family: var(--font);
}

body input[type=text][type=password]:-ms-input-placeholder, body input[type=name][type=password]:-ms-input-placeholder, body input[type=email][type=password]:-ms-input-placeholder, body input[type=url][type=password]:-ms-input-placeholder, body input[type=password][type=password]:-ms-input-placeholder, body input[type=search][type=password]:-ms-input-placeholder, body input[type=number][type=password]:-ms-input-placeholder, body input[type=tel][type=password]:-ms-input-placeholder, body input[type=range][type=password]:-ms-input-placeholder, body input[type=date][type=password]:-ms-input-placeholder, body input[type=month][type=password]:-ms-input-placeholder, body input[type=week][type=password]:-ms-input-placeholder, body input[type=time][type=password]:-ms-input-placeholder, body input[type=datetime][type=password]:-ms-input-placeholder, body input[type=datetime-local][type=password]:-ms-input-placeholder, body input[type=color][type=password]:-ms-input-placeholder, body textarea[type=password]:-ms-input-placeholder {
  font-family: var(--font);
}

body input[type=text][type=password]::-ms-input-placeholder, body input[type=name][type=password]::-ms-input-placeholder, body input[type=email][type=password]::-ms-input-placeholder, body input[type=url][type=password]::-ms-input-placeholder, body input[type=password][type=password]::-ms-input-placeholder, body input[type=search][type=password]::-ms-input-placeholder, body input[type=number][type=password]::-ms-input-placeholder, body input[type=tel][type=password]::-ms-input-placeholder, body input[type=range][type=password]::-ms-input-placeholder, body input[type=date][type=password]::-ms-input-placeholder, body input[type=month][type=password]::-ms-input-placeholder, body input[type=week][type=password]::-ms-input-placeholder, body input[type=time][type=password]::-ms-input-placeholder, body input[type=datetime][type=password]::-ms-input-placeholder, body input[type=datetime-local][type=password]::-ms-input-placeholder, body input[type=color][type=password]::-ms-input-placeholder, body textarea[type=password]::-ms-input-placeholder {
  font-family: var(--font);
}

body input[type=text][type=password]::placeholder,
body input[type=name][type=password]::placeholder,
body input[type=email][type=password]::placeholder,
body input[type=url][type=password]::placeholder,
body input[type=password][type=password]::placeholder,
body input[type=search][type=password]::placeholder,
body input[type=number][type=password]::placeholder,
body input[type=tel][type=password]::placeholder,
body input[type=range][type=password]::placeholder,
body input[type=date][type=password]::placeholder,
body input[type=month][type=password]::placeholder,
body input[type=week][type=password]::placeholder,
body input[type=time][type=password]::placeholder,
body input[type=datetime][type=password]::placeholder,
body input[type=datetime-local][type=password]::placeholder,
body input[type=color][type=password]::placeholder,
body textarea[type=password]::placeholder {
  font-family: var(--font);
}

body .container {
  width: var(--container);
  max-width: 100%;
  margin: 0 auto;
}

body .container.small {
  width: var(--small-container);
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xw074k");
  src: url("../fonts/icomoon.eot?xw074k#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff?xw074k") format("woff"), url("../fonts/icomoon.svg?xw074k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]:before,
[class*=" icon-"]:before,
.message:before,
.select-wrapper:before,
.form-group.checkbox label:before,
.notif-title:before,
ul.styled li:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-time:before {
  content: "\e900";
}

.icon-a-bike:before {
  content: "\e901";
}

.icon-a-calendar:before {
  content: "\e902";
}

.icon-a-tickets:before {
  content: "\e903";
}

.icon-backpack:before {
  content: "\e900";
}

.icon-open-book:before {
  content: "\e901";
}

.icon-hat:before {
  content: "\e902";
}

.icon-book:before {
  content: "\e903";
}

.icon-bell:before {
  content: "\e904";
}

.icon-globe:before {
  content: "\e905";
}

.icon-download:before {
  content: "\e906";
}

.icon-money-bag:before {
  content: "\e907";
}

.icon-money-time:before {
  content: "\e908";
}

.icon-credit-card:before {
  content: "\e909";
}

.icon-left-arrow:before {
  content: "\e90a";
}

.icon-right-arrow:before {
  content: "\e90b";
}

.icon-down-arrow:before {
  content: "\e90c";
}

.icon-up-arrow:before {
  content: "\e90d";
}

.icon-heart:before {
  content: "\e90e";
}

.icon-heart-solid:before {
  content: "\e90f";
}

.icon-star:before {
  content: "\e910";
}

.icon-star-solid:before {
  content: "\e911";
}

.icon-notif:before {
  content: "\e912";
}

.icon-search:before {
  content: "\e913";
}

.icon-time:before {
  content: "\e914";
}

.icon-add:before {
  content: "\e915";
}

.icon-place:before {
  content: "\e916";
}

.icon-user:before {
  content: "\e917";
}

.icon-trash:before {
  content: "\e918";
}

.icon-share:before {
  content: "\e919";
}

.icon-internet:before {
  content: "\e91a";
}

.icon-edit:before {
  content: "\e91b";
}

.icon-hide:before {
  content: "\e91c";
}

.icon-forward:before {
  content: "\e91d";
}

.icon-send:before {
  content: "\e91e";
}

.icon-twitter:before {
  content: "\e91f";
}

.icon-vk:before {
  content: "\e920";
}

.icon-facebook:before {
  content: "\e921";
}

.icon-youtube:before {
  content: "\e922";
}

.icon-cart:before {
  content: "\e923";
}

.icon-phone:before {
  content: "\e924";
}

.icon-email:before {
  content: "\e925";
}

.icon-whatsapp:before {
  content: "\e926";
}

.open-menu.active.icon-menu:before {
  content: "\e927";
}

.icon-top:before {
  content: "\e928";
}

.icon-right:before {
  content: "\e929";
}

.icon-bottom:before,
.select-wrapper:before {
  content: "\e92a";
}

.icon-left:before {
  content: "\e92b";
}

.icon-close:before {
  content: "\e92c";
}

.icon-menu:before {
  content: "\e92d";
}

.open-menu.icon-menu:before {
  content: "\e92d";
}

.icon-warning:before,
.message.warning:before,
.notif-title.warning:before {
  content: "\e92e";
}

.icon-error:before,
.message.error:before,
.notif-title.error:before {
  content: "\e92f";
}

.icon-success:before,
.message.success:before,
.notif-title.success:before {
  content: "\e930";
}

.icon-check:before,
.form-group.checkbox label:before,
ul.styled li:before {
  content: "\e931";
}

.icon-instagram:before {
  content: "\e932";
}

.icon-rules:before {
  content: "\e933";
}

.icon-moon:before {
  content: "\e934";
}

.icon-sun:before {
  content: "\e935";
}

.icon-play:before {
  content: "\e936";
}

.icon-pause:before {
  content: "\e937";
}

.icon-help:before {
  content: "\e938";
}

.icon-repeat:before {
  content: "\e939";
}

.icon-plus:before {
  content: "\e93a";
}

.icon-minus:before {
  content: "\e93b";
}

.icon-controls:before {
  content: "\e93c";
}

.icon-save:before {
  content: "\e93d";
}

.icon-location:before {
  content: "\e93e";
}

.icon-lock:before {
  content: "\e93f";
}

.icon-folder:before {
  content: "\e940";
}

.icon-calendar:before {
  content: "\e941";
}

.icon-off:before {
  content: "\e942";
}

.icon-enter:before {
  content: "\e943";
}

.icon-picture:before {
  content: "\e944";
}

.icon-camera:before {
  content: "\e945";
}

.icon-repost:before {
  content: "\e946";
}

.icon-users:before {
  content: "\e947";
}

.icon-more:before {
  content: "\e948";
}

.icon-leeds:before {
  content: "\e949";
}

.icon-cols:before {
  content: "\e94a";
}

.icon-rows:before {
  content: "\e94b";
}

.icon-chat:before {
  content: "\e94c";
}

.icon-crown:before {
  content: "\e94e";
}

.icon-contract:before {
  content: "\e94f";
}

.icon-archive:before {
  content: "\e950";
}

.icon-calculator:before {
  content: "\e951";
}

.icon-building:before {
  content: "\e952";
}

.icon-speaker:before {
  content: "\e953";
}

.icon-fingerprint:before {
  content: "\e954";
}

.icon-database:before {
  content: "\e955";
}

.icon-unlocked:before {
  content: "\e956";
}

.icon-photo:before {
  content: "\e957";
}

.icon-locations:before {
  content: "\e958";
}

.icon-smartphone:before {
  content: "\e959";
}

.icon-coin:before {
  content: "\e95a";
}

.icon-coins:before {
  content: "\e95b";
}

.icon-smile:before {
  content: "\e95c";
}

.icon-sad:before {
  content: "\e95d";
}

.icon-sceptic:before {
  content: "\e95e";
}

.icon-pin:before {
  content: "\e95f";
}

.icon-happy:before {
  content: "\e960";
}

.icon-in-love:before {
  content: "\e961";
}

.icon-relieved:before {
  content: "\e962";
}

.icon-networking:before {
  content: "\e963";
}

.icon-shocked:before {
  content: "\e964";
}

.icon-microphone:before {
  content: "\e965";
}

.icon-locked:before {
  content: "\e966";
}

.icon-stopclock:before {
  content: "\e967";
}

.icon-lock-reset:before {
  content: "\e968";
}

.icon-key:before {
  content: "\e969";
}

.icon-muted:before {
  content: "\e96a";
}

.icon-call:before {
  content: "\e96b";
}

.icon-quote:before {
  content: "\e96c";
}

.icon-transfer:before {
  content: "\e96d";
}

section.illustration .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.illustration .wrapper .content {
  width: 40%;
  margin-right: var(--padding);
}

.difference {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  position: relative;
  z-index: 2;
  border: 2.5rem solid var(--bg);
  -webkit-box-shadow: var(--shadow-m);
          box-shadow: var(--shadow-m);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--bg);
}

.difference .difference-label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.difference .difference-label span {
  background: var(--bg);
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 500;
}

.difference:hover .difference-label,
.difference.active .difference-label {
  opacity: 0;
}

.difference:hover .handler .arrow,
.difference.active .handler .arrow {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes handler {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  40% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  50% {
    -webkit-transform: translate(-65%, -50%);
            transform: translate(-65%, -50%);
  }

  70% {
    -webkit-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
  }

  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes handler {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  40% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  50% {
    -webkit-transform: translate(-65%, -50%);
            transform: translate(-65%, -50%);
  }

  70% {
    -webkit-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
  }

  80% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.difference .handler {
  position: absolute;
  left: 50%;
  width: 2px;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  background: var(--bg);
  z-index: 4;
  -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.1));
}

.difference .handler .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--bg);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: handler 1.5s infinite;
          animation: handler 1.5s infinite;
}

.difference .handler .arrow span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.difference .handler .arrow span:not(:last-child) {
  border-right: 1px solid var(--border);
}

.difference .image {
  background-position: center;
  background-size: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: var(--shadow-s) inset;
          box-shadow: var(--shadow-s) inset;
  border-radius: var(--rad);
  position: relative;
}

.difference .left,
.difference .right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.difference .left {
  left: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.difference .right {
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 1024px) {
  body .hide-lg {
    display: none !important;
  }
}

@media (max-width: 1400px) {
  body .hide-m {
    display: none !important;
  }
}

@media (max-width: 767px) {
  :root {
    --container: calc(100vw - 5rem);
    --logo: 3rem;
    --btn-fz: 1.3rem;
    --field: 4.3rem;
  }

  body {
    --fz: 1.7rem;
    --label-size: 1.3rem;
    --subtitle-size: 1.5rem;
  }

  body .lg-text {
    font-size: 2rem;
  }

  body .sm-text {
    font-size: calc(var(--fz) * 0.9);
  }

  body .hide-sm {
    display: none !important;
  }

  body h1 {
    font-size: 3rem;
  }

  body h1.small {
    font-size: 2.8rem;
  }

  body h2 {
    font-size: 3rem;
  }

  body h3 {
    font-size: 2.8rem;
  }

  body h4 {
    font-size: 2.4rem;
  }

  body h5 {
    font-size: 2rem;
  }

  body h6 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: calc(8.6px + 11 * (100vw - 320px) / 447);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --container: calc(100vw - 16rem);
    --btn-fz: 1.3rem;
    --field: 4.8rem;
    --header: 8rem;
  }

  body {
    --fz: 1.6rem;
    --label-size: 1.2rem;
  }

  body .lg-text {
    font-size: 1.9rem;
  }

  body .sm-text {
    font-size: calc(var(--fz) * 0.9);
  }

  body .hide-md {
    display: none !important;
  }
}

@media (max-width: 1399px) and (min-width: 1024px) {
  :root {
    --container: 114rem;
  }

  html {
    font-size: calc(7px + 7.5 * (100vw - 768px) / 1152);
  }
}

@media (max-width: 1920px) and (min-width: 1400px) {
  html {
    font-size: calc(7px + 7.5 * (100vw - 768px) / 1152);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: calc(8.3px + 1.5 * (100vw - 768px) / 256);
  }
}
